body {
  background-color: black;
  color: hotpink;
  font-family: 'Comic Relief';
  
  @font-face {
  font-family: 'Comic Relief';
  src: url('fonts/ComicRelief-Bold.ttf') format('truetype'),
  font-weight: bold;
  font-style: bold;
  font-display: swap; 
  font-family: 'Comic Relief';
}
